<!-- 

Copyright 2017, Raging Goblin <https://raginggoblin.wordpress.com/>

This file is part of MiWakeUpLight.

 MiWakeUpLight is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 MiWakeUpLight is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with MiWakeUpLight.  If not, see <http://www.gnu.org/licenses/>.

 -->

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#/"><div>&nbsp;<img alt="Logo" src="../img/MiWakeUpLight.png">&nbsp;&nbsp;&nbsp;MiWakeUpLightSwarm&nbsp;&nbsp;</div></a>
		<button type="button" class="btn btn-default navbar-btn button-right" ng-click="controller.createNewSchedule()" aria-label="Add schedule"><span class="glyphicon glyphicon-plus large" aria-hidden="true"></span></button>
	</div>
</nav>

<div class="container-fluid">

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Active</th>
				<th>Time</th>
				<th>Days active</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="schedule in controller.wakeupSchedules">
				<td><div><label>&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="schedule.active" ng-change="controller.toggleActive(schedule)"></label></div>
				<td class="hand" ng-class="{'text-danger': schedule.overlap}" ng-click="controller.toSchedule(schedule.id)">{{ schedule.time | date:'HH:mm:ss' : 'UTC' }}</td>
				<td class="hand" ng-click="controller.toSchedule(schedule.id)">{{ schedule.daysActive | daysformatter }}</td>
				<td class="text-right"><button class="btn btn-danger" ng-click="controller.deleteSchedule(schedule.id)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
			</tr>
		</tbody>
	</table>

</div>

<div class="container-fluid alert-container">
	<div uib-alert ng-if="controller.areSchedulesOverlapping()" class="alert alert-danger">
		Some schedules are overlapping!<br /> 
		This can lead to undesired effects.
	</div>
</div>

<div class="container-fluid alert-container">
	<div uib-alert ng-if="controller.errorMessage" class="alert alert-danger">
		{{controller.errorMessage}}
	</div>
</div>
